<div class="root">
  <div style="width:100%;">
    <mat-radio-group (change)=onTypeChange($event)>
      <mat-radio-button style="margin: 10px;" *ngFor="let item of yysList" [value] = item>{{item.label}}</mat-radio-button>
    </mat-radio-group>
    <button mat-flat-button style="width: 100%;" color="primary" (click)="onAddFile()">添加话单</button>
    <input type="file" style="display:none" id="inputFile" (change)=onFileChange($event)>
    <div style="display:flex;flex-flow: row nowrap; margin-top: 3px;">
      <button mat-flat-button style="flex:1;margin-right: 2px;" color="accent"
        (click)="onGetCommonContacts()">共同联系人</button>
      <button mat-flat-button style="flex:1" color="accent" (click)="showNumberDialog()">查询号码</button>
    </div>
  </div>
  <div style="margin-top: 3px;">
    <mat-accordion multi=false displayMode="flat">
      <mat-expansion-panel *ngFor="let item of tables" (click)="onClickItem(item.name)">
        <mat-expansion-panel-header>{{item.name}}</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-nav-list [class.disabled]='isMenuDisable'>
            <mat-list-item (click)="onShowRecords(item.name)" > 通话详单 </mat-list-item>
            <mat-list-item (click)="onCountRecord(item.name)" > 话单统计 </mat-list-item>
            <mat-list-item (click)="onNightRecord(item.name)" > 晚上通话 </mat-list-item>
            <mat-list-item (click)="onTopTenStations(item.name)" > 基站前十 </mat-list-item>
            <mat-list-item (click)="onRemoveTable(item.name)" > 删除话单 </mat-list-item>
          </mat-nav-list>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-button class="help" routerLink="/help">使用说明</button>
</div>
