<!--The content below is only a placeholder and can be replaced.-->
<div class="root fill">
  <div class="leftContainer">
    <app-menu></app-menu>
  </div>

  <div class="middleContainer" ngResizable [rzHandles]="'e'" (rzStop)="onDragResizeStop($event)" (dblclick)=onDoubleClickMiddle()>
    <app-ag-grid></app-ag-grid>
  </div>
  <div class="rightContainer" (dblclick)=onDoubleClickRight()>
    <router-outlet></router-outlet>
  </div>

  <div id="toggleLeft" class="toggleLeft" (click)="onToggleLeft()"></div>

  <div class="commonContacts">
    <ng-template #commonContacts></ng-template>
  </div>

  <div class="preLoad loader loader-default " [class.is-active] = "isShowBusyIcon"></div>
</div>
