<!-- the ag-header-cell is always provided by ag-Grid -->
<!-- column moving and resize logic is put on this element by the grid -->
<div class="ag-header-cell">

  <!-- ag-Grid will also always provide a resize bar (if column resizing
   is enabled) and take care of all the resize logic. the grid usually
   floats this element to the right.-->
  <div class="ag-header-cell-resize"></div>
  
  <!-- checkbox for selection, if turned on.
   the grid usually floats this element to the left. -->
  <div class="ag-header-select-all"></div>
  
  <!-- the header component - this is the piece that you can customise -->
  <div class="ag-header-component"> </div>